.html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
}
/* Inicioo */

.contenedor_inicio{
    display: grid;
    grid-template-columns: 1fr  ;
    grid-template-rows: 0.01fr  2fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;
    width: 100%;

}

.main_contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas:
    "subtitulo subtitulo"
    "historia imagen1"
    "imagen2 arrieros ";
    width: 100%;
}



.header{
    background-color: #144668;
    grid-area: header ;
} 
.main{
    grid-area: main;
    width: 100%;
}
.menuPrincipal{
    padding: 0px;
}

.menuPrincipal ul{
    color: black; 
    list-style-type: none;
    font-size: 15px;
    text-align: right;
    background-color: #144668;
    font-family: 'Exo', sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.menuPrincipal ul li{
    text-decoration: none;
    margin: 5px 5px;
}
.link li a{
    text-decoration: none;
    color: #fefefe;
}
.navbar-light .navbar-nav .nav-link{
    color: #fefefe;
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #fefefe;
}
.navbar>.container-fluid{
    background-color: #144668;
}

.vista{
    display: flex;
    flex-direction: column;
    background-color: #144668;
}

.vista img{
    width: 100%;
    height: 50%;
    position: relative;
    font-size: 100%;
}
.subtitulo{
    color: #fefefe  ;
    display: flex;
    text-align: left;
    font-family: 'Exo', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    grid-area: subtitulo;
    height: 100px;
}


.parrafo1{
    color: #050505  ;
    text-align: justify;
    font-size: 1.1rem;
    font-family: 'Exo', sans-serif;
    grid-area: historia;
    text-align: center;
    display: flex;
    justify-content: center;
}
.parrafo1 p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.imagen_p1{
    display: flex;
    justify-content: center;
    grid-area: imagen1;
}
.imagen_p1 img{
    width: 538px;
    height: 315px;
    align-content: space-between;
}


.arrieros{
    color: #fefefe;
    font-family: 'Exo', sans-serif;
    display: flex;
    justify-content: center;
}
.arrieros p{
    color: #fefefe  ;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Exo', sans-serif;
    display: flex;
    align-items:center;
    grid-area: arrieros;
}

.iframe2{
    
    display: flex;
    justify-content: center;
    grid-area: imagen2;
}

.pie{
    background-color:#144668 ;
    grid-area: footer;
    display: flex;
    flex-direction: column;
}
.pienav ul{
    font-family: 'Exo', sans-serif;
    list-style-type: none;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.pienav ul li{ 
    text-decoration: none;
    padding: 5px;
}
.pienav li a{
    text-decoration: none;
    color: #fefefe;

}
.footer{
    font-family: 'Exo', sans-serif;
    color: #fefefe;
    display: flex;
    flex-direction: column;
}
.footer p{
    display: flex;
}

/* seccion lugares */
.bodyL{
    height: 100vh;
}

.mainL{
    background-color: rgb(83, 113, 182);

}
.rpeñon{
    color: #050505  ;
    text-align: left;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.historiap{
    color: #050505  ;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 20px;}

    .columnas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .imagenesP{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .imagenesP img:hover{
        border:5px solid #144668;
    }
    
    
    .troya{
        text-align: center;
        color: #050505  ;
        font-family: 'Exo', sans-serif;
        font-size: 35px;
    }
    
    .historiat{
        text-align: center;
        color: #050505  ;
        font-family: 'Exo', sans-serif;
        font-size: 20px;
    }
    .cuesta{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
    .cuesta img:hover{
        border: solid 5px #144668;
    }
    .imgT{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
    .imgT img{
        padding: 10px;
    }
    .quebrada{
        text-align: center;
        color: #050505  ;
        font-family: 'Exo', sans-serif;
        font-size: 35px;
    }
    .historiaY{
        text-align: center;
        color: #050505  ;
        font-family: 'Exo', sans-serif;
        font-size: 20px;
    }
    .yeso{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    .yeso img:hover{
        border: solid 5px #144668;
    }
    .imgY{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
    .imgY img{
        padding: 10px;
    }

.footerlugares{
    padding: 0px;
}

.footerlugares ul{
    color: black; 
    list-style-type: none;
    font-size: 15px;
    text-align: right;
    background-color: #144668;
    font-family: 'Exo', sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 0px;
}

.footerlugares li a{
    text-decoration: none;
    color: #fefefe;
    padding: 5px;
}
/* seccion contactos */
.mainC{
    height: 100vh;
}

.mainC section{
    background-color: #144668;
    height: 100vh;
}
.contactfooter{
    padding: 0px;
}
.contactfooter ul{
    color: black; 
    list-style-type: none;
    font-size: 15px;
    text-align: right;
    background-color: #144668;
    font-family: 'Exo', sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.contactfooter li a{ 
    text-decoration: none;
    color: #fefefe;
    padding: 5px;
}
.form{
    height: 100%;
}
.contactos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formcontac{
    background-color: #144668;
}
.mb-2{ color: #fefefe;}

.mb-2 button{
    color: #fefefe;}

.mb-3 h4{
    color: #fefefe;
}

/* galeria */
.navbar>.container-fluid{
    padding: 0px;
}
.maing{
    background-color: #144668;
}
.tituloG{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.galeria .col-3{
    margin: 0 !important;
    padding: 5px;
}
.galeria img{
    width: 100%;
    height: 250px;
}
.galeria img:hover{
    border: 5px solid #144668;
}

.galeria iframe{
    width: 100%;
    height: 250px;
}
.galeria iframe:hover{
    border: 5px solid #144668;
}

.videos{
    color: #050505;
    background-color: #fefefe;
    text-align: justify;
    font-size: 1,1rem;
    font-family: 'Exo', sans-serif;
}


.galeria{
    font-family: 'Exo', sans-serif;
}


/* servicios */
.headerS{
    margin: 0px;
    padding: 0px;
}
.mainS{
    background-color:rgb(83, 113, 182);
    padding: 0px;
    margin: 0px;

}
.card{
    padding: 0px;
}

.conteinerr{
    padding: 0px;
    background-color:#144668;
}
.container-fluid{
    padding: 0px;
}

.servicios{
    color: #050505;
    background-color:rgb(83, 113, 182) ;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    margin-bottom: 0px;
}

.comidas {
    color: #050505;
    background-color: rgb(83, 113, 182);
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 30;
}
.comidas h1{
    margin-bottom: 0px;
}
.pasteles{
    color: #050505;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-size: 25px;
}

.historiaPast{
    text-align: center;
        color: #050505  ;
        font-family: 'Exo', sans-serif;
        font-size: 20px;
}
.pastelitos{
    background-color: #889BC6   ;
    display: flex;
    justify-content: center;
    
}

.empanadas{
    background-color: #889BC6;
    display: flex;
    
    justify-content: center;
    
}


.cordero{
    background-color: #889BC6;
    display: flex;
    justify-content: center;
    
}


.locro{
    background-color: #889BC6;
    display: flex;
    justify-content: center;
    
}

.servis{
    margin: 0px;
}

.mazamorra{
    display: flex;
    justify-content: center;
    align-items: center;
}


.hospedaje{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.hospedaje img{
    height: 300px;
    margin: 2px;
}
.carrusel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footerS nav{
    padding: 0px;
}

.footerS ul{
    color: black; 
    list-style-type: none;
    font-size: 15px;
    text-align: center;
    background-color: #144668;
    font-family: 'Exo', sans-serif;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 0px;
}
.footerS li a{
    text-decoration: none;
    color: #fefefe;
    padding: 5px;
}

